vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Feb 2005 19:39:32 -0000
vti_extenderversion:SR|5.0.2.2623
vti_title:SR|ERMSWeb - Page Template
vti_lineageid:SR|{A22ECB72-891B-4FAF-9F22-2578D749155F}
vti_backlinkinfo:VX|
vti_modifiedby:SR|YOUR-8FAFC079E7\\1204PC-01
vti_cacheddtm:TX|10 Apr 2008 18:53:57 -0000
vti_filesize:IR|4198
vti_cachedtitle:SR|ERMSWeb - Page Template
vti_cachedbodystyle:SR|<body bgcolor="#FFFFFF" link="#000080" vlink="#000080" alink="#0000FF" topmargin="5" leftmargin="5">
vti_cachedlinkinfo:VX|Q|../pg_style.css -H|../secweb/ermsw_index.asp -S|../graphics/mar_logo_320.gif -I|../fill/cust_logo.htm -H|../secweb/ermsw_index.asp -H|http://intranet -I|../fill/cust_intranet.htm I|../secweb/web_header.htm I|../secweb/web_menu.htm -H|../secweb/supp_contact.asp -H|../secweb/supp_links.asp -H|../secweb/supp_docs.asp I|../secweb/web_footer.htm
vti_cachedsvcrellinks:VX|FQUS|pg_style.css FIUS|secweb/web_header.htm NIUS|secweb/web_menu.htm FIUS|secweb/web_footer.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_error0:SX|A FrontPage Include component references URL "../secweb/web_menu.htm", but the file for this URL cannot be found.
vti_error:IX|1
vti_charset:SR|windows-1252
