vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Oct 2004 22:46:00 -0000
vti_extenderversion:SR|5.0.2.2623
vti_cacheddtm:TX|27 Oct 2004 22:46:00 -0000
vti_filesize:IR|33717
vti_cachedtitle:SR|Information Display
vti_cachedbodystyle:SR|<body bgcolor="#FFFFFF">
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_title:SR|Information Display
vti_lineageid:SR|{C8962962-65E0-4F5D-9936-576B74D789DE}
vti_backlinkinfo:VX|
