
.hrStyle
{
 color:#808000;	
}


.LSGrayXLargeText
{ 	
 color:#FFFFFF;
 font:normal normal normal x-large Verdana;
 text-align:left;  
 vertical-align:middle;
}

.LSGraySmallText
{ 
 color:#FFFFFF;
 font:normal normal normal small Verdana; 
 margin:0 0 0 0; 
}

.LSGrayXSmallText
{ 
 color:#FFFFFF; 
 font:normal normal normal x-small Verdana; 
 margin:0 0 0 0; 
}

.YellowSmallText
{
 color:#808000; 
 font:normal normal normal small Verdana; 
 margin:0 0 0 0;
}

.YellowXSmallText
{	 
 color:#808000;
 font:normal normal normal x-small Verdana; 
 margin:0 0 0 0; 
}

.hLinkXXLarge 
{ 
 color:#000080;
 font:normal normal normal xx-large Verdana;   
 text-decoration:none; 		
}

.hLinkSmall
{ 
 color:#000080;
 font:normal normal normal small Verdana;   
 text-decoration:none;   
}

.hLinkSmallBold
{ 
 color:#000080;
 font:normal normal bold small Verdana;
 text-decoration:none;   
}

.hLinkXSmall
{ 	
 color:#000080;
 font:normal normal normal x-small Verdana;   
 text-decoration:none;  
}

.hLinkXSmallBold
{ 	
 color:#000080;
 font:normal normal bold x-small Verdana; 
 text-decoration:none;
}

.hLinkSmallBlack
{ 	
 color:#000000;
 font:normal normal normal small Verdana;   
 text-decoration:none;  
}

.PageCenter
{
 text-align:center;  	
}

.MasterTable
{ 
 background-color:#FFFFFF;
 border:none;  
 overflow:scroll;
 table-layout:fixed;    
 width:90%; 
}

.Table
{ 
 background-color:#FFFFFF;
 border:none; 
 left:2%; 
 overflow:scroll;
 table-layout:fixed;   
 top:2%;
 width:100%; 
}

.TableMtrx
{     
 background-color:#FFFFFF;
 border:solid 1px Gray;  
 left:2%;
 overflow:scroll;
 table-layout:fixed;
 top:2%;  
 width:100%;
}

.TabHeader
{
 background-color:#FFFFFF;
 color:#FFFFFF;
 font:normal normal bold medium Verdana; 
 text-align:left; 
 vertical-align:middle;   
}

.TabHeaderCenter
{
 background-color:#FFFFFF;
 color:#FFFFFF;
 font:normal normal bold large Verdana;  
 text-align:center; 
 vertical-align:middle;   
}

.TabSubHeader
{
 background-color:#C0C0C0;
 color:#FFFFFF;
 font:normal normal bold medium Verdana;
 text-align:right; 
 vertical-align:middle;
}











.FieldHeader
{
 background-color:white;
 font:normal normal bold small Verdana;   	 	
 text-align:right;    
 vertical-align:middle; 
 width:17%;
}

.FieldContent
{
 font:normal normal normal small Verdana;		
 text-align:left; 
 vertical-align:middle;   
}

.FieldHeaderCenter
{	  
 background-color:#C0C0C0;	
 font:normal normal bold small Verdana;	 
 text-align:center; 
 vertical-align:middle;  	
 width:15%;   
}

.FieldContentCenter
{ 
 font:normal normal normal small Verdana;		
 text-align:center; 
 vertical-align:middle;
}






.CtrlShortValueView
{	
 font:normal normal normal small Verdana;		
 width:55%;    
}

.CtrlShortValueViewRight
{	
 font:normal normal normal small Verdana;		
 width:55%;  
 text-align:right;  
}

.CtrlShortValueViewCenter
{	
 font:normal normal normal small Verdana;		
 width:55%; 
 text-align:center;  
}







.CtrlMediumValueView
{	
 font:normal normal normal small Verdana;		 
 width:98%;	 
}

.CtrlWideValueView
{	
 font:normal normal normal small Verdana;			
 width:99%;	 
}


.CtrlWideValueViewRed
{	
 color:Red;  	
 font:normal normal normal small Verdana;			
 width:99%;	 
}

.CtrlShortValueEdit
{
 background-color:#E6E6FA; 
 font:normal normal normal small Verdana;		
 width:55%;   	
}

.CtrlMediumValueEdit
{
 background-color:#E6E6FA;  	
 font:normal normal normal small Verdana;		
 width:98%; 
}

.CtrlWideValueEdit
{
 background-color:#E6E6FA;
 font:normal normal normal small Verdana;		
 width:99%;
}

.btnStyle
{	  	    
 background-color:#FFFFFF;
 border:solid 1px White;    
 color:#FFFFFF; 
 cursor:Hand;
 font:normal normal normal small Verdana;       
}

.GridViewStyleView
{	
 border:solid 1px #C0C0C0;
 font:normal normal normal small Verdana;
 overflow:scroll;
 table-layout:auto; 
 text-align:center;  
 vertical-align:middle; 
 width:100%; 
}


.FieldHeaderNew
{
 font:normal normal bold small Verdana;		
 text-align:right; 
 vertical-align:middle;   
}
