A
{
    COLOR: #000080;
    TEXT-DECORATION: none
}
A
{
    COLOR: #0000cc
}
UNKNOWN:unknown UNKNOWN
{
    COLOR: #000080;
    FONT: 12px verdana,tahoma,arial;
    TEXT-DECORATION: none
}
UNKNOWN UNKNOWN:unknown UNKNOWN
{
    COLOR: #000080;
    FONT: 12px verdana,tahoma,arial;
    TEXT-DECORATION: none
}
UNKNOWN
{
    COLOR: #000080;
    FONT: 12px verdana,tahoma,arial;
    TEXT-DECORATION: none
}
UNKNOWN SELECT
{
    COLOR: #000080;
    FONT: 12px verdana,tahoma,arial;
    TEXT-DECORATION: none
}
INPUT
{
    COLOR: #000080;
    FONT: 9pt verdana,tahoma,arial;
    TEXT-DECORATION: none
}
INPUT.submit
{
    BACKGROUND: #dddddd;
    COLOR: #000080;
    FONT: bold 10px verdana,tahoma,arial;
    TEXT-DECORATION: none
}
TEXTAREA
{
    COLOR: #000080;
    FONT: 9pt verdana,tahoma,arial;
    TEXT-DECORATION: none
}
SELECT
{
    COLOR: #000080;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    MARGIN-LEFT: 5px;
    MARGIN-TOP: 5px
}
